*.o
*.so
moc_*.cpp
moc_*.o
qrc_resources.cpp
qrc_resources.o
ui_*.h
Makefile
Makefile.*
*.AppImage
ThemisLinux
ThemisLinux.exe
build-win/
Themis-Windows/
Themis-Windows.zip
linuxdeployqt
python.zip
mingw.7z
AppRun
default.desktop
.DirIcon
lib/
plugins/
translations/
qt.conf
ThemisLinux.desktop
ThemisLinux.png
moc_predefs.h
.qmake.stash
