# Build artifacts
*.o
*.so
*.a
*.exe
*.AppImage
*.stash
.qmake.stash
moc_*.cpp
moc_*.o
qrc_*.cpp
qrc_*.o
ui_*.h
moc_predefs.h
Makefile
Makefile.*

# Project build output dirs
build-win/
ThemisLinux
Themis-Windows/
Themis-Windows.zip
linuxdeployqt
linuxdeploy*.AppImage
python.zip
mingw.7z

# AppImage packaging residue
AppDir/
AppRun
default.desktop
.DirIcon
ThemisLinux.desktop
ThemisLinux.png
qt.conf
lib/
plugins/
translations/

# Backup & test files
*.orig
*.rej
*.OUT
